body{
	display: flex;
	flex-direction: column;
}
video{
	width: 100%;
}
.video-progress * {
	width: 100%;
}
.controls {
	display: grid;
	grid: auto / 25%;
}
.videoContainer {
	grid-column: 1;
}
.controlContainer {
	grid-column: 2;
}